extends layout 

block content 
  h2= title 
  img(src=character.imageURL, alt=character.name height=100 width=100)
  p #[strong] #{character.description}
  p #[strong Vision: ] 
    a(href=character.vision.url) #{character.vision.name} 
  p #[strong Rarity: ] #{character.rarity}
  p #[strong Weapon: ] #{character.weapon}
  if character.constellationsOwned >= 0
    p #[strong Constellation owned by admin: ] #{character.constellationsOwned}

  div 
    button  
      a(href=character.url+'/delete') Delete Character
    button  
      a(href=character.url+'/update') Edit Character Details