extends layout 

block content 
  h2= title 
  form.styled(action="", method="post" enctype="multipart/form-data")
    fieldset.name-section 
      div.char-name 
        label(for="name") Name*:
        input#name(type="text" name="name" required="true" value=(undefined===character ? '' : character.name))
      div.char-desc
        label(for="description") Description: 
        textarea#description(name="description")  #{undefined===character ? '' : character.description} 
    fieldset.stats-section 
      div.char-vision
        label(for="vision") Vision*: 
        select#vision(name="vision" required="true") 
          option(value="") Select Vision 
          for vision in visions 
            if character 
              option(value=vision._id selected=(vision._id.toString()===character.vision._id.toString() || vision._id.toString()===character.vision ? 'selected' : false)) #{vision.name} 
            else 
              option(value=vision._id) #{vision.name}
      div.char-rarity
        label(for="rarity") Rarity*: 
        select#rarity(name="rarity" required="true") 
          option(value="") Select Rarity 
          if character 
            option(value="5 star" selected=(character.rarity==="5 star" ? 'selected' : false)) 5 star
            option(value="4 star" selected=(character.rarity==="4 star" ? 'selected' : false)) 4 star
          else 
            option(value="5 star") 5 star 
            option(value="4 star") 4 star
      div.char-weapon
        label(for="weapon") Weapon*: 
        select#weapon(name="weapon" required="true") 
          option(value="") Select Weapon 
          if character 
            option(value="Sword" selected=(character.weapon==="Sword" ? 'selected' : false)) Sword   
            option(value="Claymore" selected=(character.weapon==="Claymore" ? 'selected' : false)) Claymore   
            option(value="Pole arm" selected=(character.weapon==="Pole arm" ? 'selected' : false)) Pole arm   
            option(value="Bow" selected=(character.weapon==="Bow" ? 'selected' : false)) Bow   
            option(value="Catalyst" selected=(character.weapon==="Catalyst" ? 'selected' : false)) Catalyst   
          else 
            option(value="Sword") Sword   
            option(value="Claymore") Claymore   
            option(value="Pole arm") Pole arm   
            option(value="Bow") Bow   
            option(value="Catalyst") Catalyst 
    fieldset.constellations-section 
        label(for="constellations") How many Constellations do you own?
        select#constellations(name="constellationsOwned") 
          if character 
            option(value="-1" selected=(character.constellationsOwned===-1 ? 'selected' : false)) I don't have this Character yet!
            option(value="0" selected=(character.constellationsOwned===0 ? 'selected' : false)) C0
            option(value="1" selected=(character.constellationsOwned===1 ? 'selected' : false)) C1
            option(value="2" selected=(character.constellationsOwned===2 ? 'selected' : false)) C2
            option(value="3" selected=(character.constellationsOwned===3 ? 'selected' : false)) C3
            option(value="4" selected=(character.constellationsOwned===4 ? 'selected' : false)) C4
            option(value="5" selected=(character.constellationsOwned===5 ? 'selected' : false)) C5
            option(value="6" selected=(character.constellationsOwned===6 ? 'selected' : false)) C6
          else
            option(value="-1") I don't have this Character yet!
            option(value="0") C0  
            option(value="1") C1  
            option(value="2") C2  
            option(value="3") C3  
            option(value="4") C4  
            option(value="5") C5  
            option(value="6") C6
    fieldset.image-upload 
        label(for="image") Add Image*: 
        input#image(type="file" name="image" required="true" accept="image/png, image/jpeg, image/jpg, image/webp, image/gif")
    button(type="submit") Submit
  if errors
    ul 
      for error in errors 
        li!= error.msg
