extends layout

block content
  h2= title 
  ul.display-characters 
    each character in character_list
      li.character-modal 
        img(src=character.imageURL, alt=character.name height=100 width=100)
        h3 
          a(href=character.url) #{character.name} 
        p #{character.vision.name} #{character.rarity} #{character.weapon}
    else 
      li There are no Characters.
