extends layout

block content
  section.home-page
    h2 Home Page
    p Welcome to #{title}

    if error 
      p Error getting Dynamic content.
    else 
        button 
          a(href="/visions") Browse characters by vision 
        div.intro
          p
            span #[strong Total Characters: ]
            span !{data.total_characters}
          p
            span #[strong Characters owned by Admin: ] 
            span !{data.characters_owned}
          table.rarity-count 
            thead 
              th(colspan='2') Count of Characters by Rarity
            tr 
              th 5 stars
              td !{data.fivestar_characters}            
            tr 
              th 4 stars
              td !{data.fourstar_characters}
          table.weapon-count
            thead 
              th(colspan='2') Count of Characters by Weapon type 
            tr 
              th Sword
              td !{data.sword_characters}
            tr 
              th Claymore
              td !{data.claymore_characters}
            tr 
              th Pole arm
              td !{data.polearm_characters}
            tr
              th Bow
              td !{data.bow_characters}
            tr
              th Catalyst
              td !{data.catalyst_characters}

