<%- include('./header.ejs') %>
  <main class="delete-weapon-page">
    <div>
      <h2>
        <%= weapon.name %>
      </h2>
    </div>
    <% if (typeof characters !== "undefined" && characters.length > 0) { %>
      <!-- There are characters with this weapon prompt user to change weapon type/delete character -->
      <div>
        <p>Please ensure to change the weapon type of below characters before deleting this weapon. Alternatively you can delete the characters</p>
        <div class="list-container">
          <ul class="character-list">
              <% characters.forEach(character => { %>
                <li>
                  <a href=<%= character.url %> class="character">
                    <div  class=<%= character.rarity === "5" ? "five-star" : "four-star" %>>
                      <img
                        src=<%= character.imgPath %>
                        alt="<%= `${character.name} avatar` %>"
                      >
                    </div>
                    <h4>
                      <%= character.name %>
                    </h4>
                  </a>
                </li>
              <% }) %>
          </ul>
        </div>
      </div>
    <% } else { %>
      <div>
        <p>
          <strong>
            Do you really want to delete this Weapon?
          </strong>
        </p>
        <form action="" method="post" class="delete-form">
          <input type="hidden" name="id" value=<%= weapon.id %>>
          <div class="controls">
            <button type="submit">Yes</button>
            <button type="button" onclick="history.back()">No</button>
          </div>
        </form>
      </div>
    <% } %>
  </main>
<%- include('./footer.ejs') %>
